extends layout
block content
  .container(style="width: 50%; background: whitesmoke; padding: 10%;")
    br
    h2 Add
    form(action='/addAd' method="post")
      .form-group
        input.form-control(type='text' placeholder='Title' name='Title' required='true')
      .form-group
        input.form-control(type='text' placeholder='Description' name='Description' required='true')
      .form-group
        input.form-control(type='Number' placeholder='Price' name='Price' required='true')
      button.btn.btn-primary(type='submit') Submit