extends layout
block content

  h1(style="text-align: center;") Classified Ads by Jay Patel
  p(style="text-align: center")
  | This is Assignment 2 of my Course which is classified Advertisements to show CRUD operation functionality on operations